@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

body.light {
    font-family: "Turret Road", sans-serif;

    transition: all .2s;
    background-color: #fefe33;
    color: #111;
}

body.dark {
    background-color: #111;
    color: #fefe33;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-family: "Libre Barcode 128 Text", system-ui;
    font-size: 3rem;
}

#toggleTheme {
    all: unset;
    cursor: pointer;
}

main {
    max-width: 850px;
    height: 50vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4rem;
}

body.light input {
    all: unset;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 3%); /* Background: https://codepen.io/corgitea/pen/wvzpEXN */
    cursor: pointer;
    padding: 2rem;
    font-size: 2rem;
    width: 80%;
    text-align: center;
    color: #fff;
}

body.light input:active {
    font-size: 1.5rem;
}

.parallax {
    position: relative;
    width: 100%;
    height: 40vh;
}

.parallax::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("parallax.jpg");
    background-size: cover;
    background-attachment: fixed;
}