@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');


body.light {
    font-family: "Turret Road", sans-serif;


    transition: all .2s;
    background-color: #fefe33;
    color: #111;
}

body.dark {
    background-color: #111;
    color: #fefe33;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-family: "Libre Barcode 128 Text", system-ui;
    font-size: 3rem;
}

#toggleTheme {
    all: unset;

    cursor: pointer;

}

body.light .container {
    max-width: 580px;
    height: 70vh;
    margin: auto;
    padding: 1rem;
    border: 1px solid #111;
    border-radius: 15px;
}

body.dark .container {
    border: 1px solid #fefe33;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

form h1 {
    font-size: 4rem;
    font-family: "Libre Barcode 128 Text", system-ui;
}

label {
    font-weight: 700;
}

.input {
    all: unset;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: #fff;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    width: 80%;
    color: #fff;
    background-color: #111;
}

body.dark .input {
    background-color: #fefe33;
    color: #111;
}

.footer-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.footer-form div {
    margin-right: 1rem;
}

.footer-form a {
    text-decoration: none;
    color: #111;
    font-weight: 700;
    transition: all .5s;
}

body.dark .footer-form a {
    color: #fefe33;
}

body.light .footer-form a:hover {
    position: relative;
}

body.light .footer-form a::before {
    content: "";
    height: 2px;
    visibility: hidden;
    bottom: 0;
    left: 0;
    background-color: #111;
    width: 100%;
    transform: scaleX(0);
    transform-origin: center;
    transition: all .2s;
}

body.light .footer-form a:hover::before {
    position: absolute;
    visibility: visible;
    transform: scaleX(1);
}

body.light .submit {
    all: unset;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 3%); /* Background: https://codepen.io/corgitea/pen/wvzpEXN */
    color: #fff;
    /*
    border-right: 5px solid #111;
    border-bottom: 1px solid #111;
    */
    cursor: pointer;
    padding: 1rem;
    font-size: 1.5rem;
    width: 55%;
    text-align: center;
}

/*
body.dark .submit {
    border-right: 5px solid #fefe33;
    border-bottom: 1px solid #fefe33;
}
*/

body.light .submit:active {
    font-size: 1rem;
}

#box {
    transform: scale(1.2);
}

.p-echo {
    color: #FF013C;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
}